<div id="github-wrapper" class="ng-cloak">
  <header>
    <h1>Github Card</h1>
  </header>
  <div class="container-fluid">
    <form ng-submit="github.getInfo()">
      <input
        id="user-input"
        type="text"
        ng-model="github.what"
        placeholder="What is the username?" 
        autofocus />
    </form>
  </div>
  <div class="user-content-holder">
    <div class="loader" ng-if="github.loading">
      <p class="text-center">Loading...</p>
    </div>
    <div class="user" ng-if="github.info.user && !github.loading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="user-info">
              <div class="user-profile-image">
                <img ng-src="{{ github.info.user.avatar_url }}" alt="{{ github.info.user.name }}" fade-in />
              </div>
              <div class="user-profile-info">
                <h3>@{{ github.info.user.login }}</h3>
                <p>{{ github.info.user.location }}</p>
                <p ng-if="github.info.blog"><a href="#" target="_blank">{{ github.info.user.blog }}</a></p>
                <p><strong>Repositories: </strong> {{ github.info.user.public_repos }}</p>
                <p><strong>Followers: </strong> {{ github.info.user.followers }}</p>
                <p><strong>Following: </strong> {{ github.info.user.following }}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="user-repos" ng-if="github.info.repos.length">
              <h3>Repositories</h3>
              <ul>
                <li ng-repeat="repo in github.info.repos">
                  {{ repo.name }} | <span>{{ repo.stargazers_count }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
