<div id="todos-wrapper" class="ng-cloak">
  <header>
    <h1>Todos</h1>
  </header>
  <section id="main">
    <form ng-submit="tc.create()">
      <input
        id="item-input"
        type="text"
        placeholder="What needs to be done?"
        ng-model="tc.newTodo.name"
        autofocus />
    </form>
    <ul id="todo-list">
      <li
        class="todo-item"
        ng-repeat="todo in tc.todos | filter:tc.newTodo.name | filter:tc.filter"
        ng-class="{complete: todo.completed, active: todo == tc.activeTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed" />
          <label ng-dblclick="tc.editTodo(todo)">{{ todo.name }}</label>
          <button class="remove" type="button" ng-click="tc.remove($index)"></button>
        </div>
        <form ng-submit="tc.update(todo)">
          <input
            class="edit"
            type="text"
            ng-model="todo.name"
            ng-blur="tc.update(todo)"
            todo-focus="todo == tc.activeTodo"
            todo-escape="tc.revert($index)"
            autofocus />
        </form>
      </li>
    </ul>
  </section>

  <footer>
    <button ng-click="tc.show('active')">Active</button>
    <button ng-click="tc.show('completed')">Completed</button>
  </footer>
</div>
